@bds:registry=https://pkgs.dev.azure.com/hrblock/Block-Design-System/_packaging/bds-dev/npm/registry/

always-auth=true

# //pkgs.dev.azure.com/hrblock/Block-Design-System/_packaging/bds-dev/npm/registry/:username=hrblock
# //pkgs.dev.azure.com/hrblock/Block-Design-System/_packaging/bds-dev/npm/registry/:_password=**yourTokenGoesHere**
# //pkgs.dev.azure.com/hrblock/Block-Design-System/_packaging/bds-dev/npm/registry/:email=not-used@example.com