

.heading{
  text-align: center;
  color: blue;

}

.subheading{
  text-align: center;
  color: red;
}

.image{
height:400px;
width: 750px;
margin-left: 1350px;
margin-top: 20px;
}

.teacher{
 font-size: 30px;
  margin-left: 1250px;
  margin-top: 50px;
  color: blueviolet;
}

.student{
  font-size: 30px;
   margin-left: 2050px;
   margin-top: -60px;
   color: blueviolet;
 }

