
<body>
   <div>

    <div>
      <h1 class="heading">Welcome to the Information Update Center!</h1>
      <h5 class="subheading">Click one of the options below to get started</h5>
      <img class="image" src="./assets/college.jpg">
    </div>

    <div>
        <h2 class="teacher">I am a teacher</h2>
        <button class="teacherButton">Click here</button>
    </div>

    <div>
      <h2 class="student">I am a student</h2>
      <button class="studentButton">Click here</button>

    </div>

  </div>

</body>


