.mediaInfo{
  display: flex;
  justify-content: center;
}

.heading{
  color: blue;
  margin-top: 50px;
}

.subheading{
  color: red;
}

.image{
height:400px;

}

.teacher{
 font-size: 30px;
 color: blueviolet;
}

.student{
  font-size: 30px;
  color: blueviolet;
 }

