
.heading{
  color: blue;
  margin-top: 50px;
  text-align:center;
  position:relative;
}

.subheading{
  color: red;
  text-align: center;
}

.image{
height:400px;
margin-left: 1130px;
position: sticky;


}

.teacher{
 font-size: 30px;
 color: blueviolet;
 position: relative;
 margin-left: 1050px;
 margin-top: 30px;
}

.student{
  font-size: 30px;
  color: blueviolet;
  position: relative;
  margin-left: 1620px;
  margin-top: -75px;
 }

 .teacherButton{
  margin-left: 1100px;
    font-size: large; 
 }

 .studentButton{
  margin-left: 1680px;
 
}