
<body class="body">

  <div>

     <div>
       <h1 class="heading"> Welcome to the Information Update Center!</h1>
       <h4 class="subheading">Click one of the options below to get started</h4>
        <img class="image" src="./assets/college.jpg">
     </div>

     <div class="teacher">
        <h2>I am a teacher</h2>
      
        <button 
          class="teacherButton">
          <a routerLink="/teacherPortal">Click Here</a>
        </button>
     
    </div>
     
    <div class="student">
      <h2>I am a student</h2>
      
      <button 
       class="studentButton">
        <a routerLInk="/studentPortal">Click here</a>
      </button>
    
    </div>
   
  </div>
    
</body>


