
<body>
  <div>
      <h1 class="title">Let's Edit Your Profile!</h1>
      <br>
      <h3 class="subHeading">Click on a profile below to edit</h3>
  </div>
  <br>

    <!--you have to create a local reference variable for ngForm, then it's used as an object in the method-->

      <br>
      <br>


      <!--Display product area-->

        <h3 class="heading">All Profiles</h3>

    <div>
        <table>
              <thead>
                  <tr>
                      <th>#</th>
                      <th> Name</th>
                      <th>Address</th>
                      <th>Phone </th>
                  </tr>
              </thead>
              <tbody>
                  <tr >

                      <td></td>
                      <td>Name</td>
                      <td>Address</td>
                      <td>Phone</td>
                      <td>
                          <button type="button" >Edit</button>
                          <button type="button" >Delete</button>
                      </td>
                  </tr>
              </tbody>
        </table>
    </div>

</body>



