
<body>
  <div>
      <h1 class="title">Let's Edit Your Profile!</h1>
      <br>
      <h3 class="subHeading">Fill out the information below to edit your profile.</h3>
  </div>
  <br>

<div class="container">
  <div class="form">
    <!--you have to create a local reference variable for ngForm, then it's used as an object in the method-->
      <form #cForm="ngForm">
          <label>Name</label><br>
          <input  ngModel name="firstName" #firstName="ngModel" required type="text" >
          <br>
          <br>
          <label>Street Address</label><br>
          <input  ngModel type="text"  name="address" >
          <br>
          <br>
          <label>City</label><br>
          <input  ngModel type="text" name="city" >
          <br>
          <br>
          <label>State</label><br>
          <input  ngModel type="text"  name="state" >
          <br>
          <br>
          <label>Zip Code</label><br>
          <input type="text" name="zipcode" >
          <br>
          <br>
          <label>Phone Number</label><br>
          <input  ngModel type="text" placeholder="(123) 456-7890" name="phone" >
          <br>
          <br>
          <label>Email Address</label><br>
          <input  ngModel type="text"  name="email" >
          <br>
          <br>
          <label>Work Location</label><br>
          <input  ngModel type="text" placeholder="virtual or in-person"  name="location">
          <br>
          <br>

          <input type="submit" value="Update">
      </form>
      <br>
      <br>
  </div>
</div>
</body>



