

  <div>
      <h1 class="title">Let's Edit Your Profile!</h1>
      <br>
      <h3 class="subHeading">Click on a profile below to edit your profile in the space provided</h3>
  </div>
  <br>

    <!--you have to create a local reference variable for ngForm, then it's used as an object in the method-->




      <!--Display product area-->

    <div>
        <table>
          <tr>
            <th>#</th>
            <th> Name</th>
            <th>Address</th>
            <th>Phone </th>
          </tr>
          <br>
          <tr *ngFor="let profile of allProfiles; index as i" >
            <td>{{i + 1 }}</td>
            <td>{{profile.name}}</td>
            <td>{{profile.address}}</td>
            <td>{{profile.phone}}</td>
            <td><button (click)="onEditClicked(profile.id)">Edit</button></td>
            
            <td><button (click)="onDeleteProfile(profile.id)">Delete</button></td>
          </tr>
        </table>
    </div>





