<body>
  <div>

    <div>
      <h1 class="heading">Welcome to the Teacher Portal!</h1>
      <h4 class="subheading">Click one of the options below to get started!</h4>
      <img class="image" src="./assets/college.jpg">
    </div>

    <h2 class="choice">I want to...</h2>
    
    <button 
      class="create">
      <a routerLink="/createProfile">Create Profile</a>
    </button>

    
    <button 
      class="view">
      <a routerLink="/viewProfile">View Profile</a>
    </button>


    <button 
      class="edit">
      <a routerLink="/editProfile">Edit Profile</a>
    </button>
  
  </div>

</body>
