
.heading{
  text-align: center;
  color: black;
  margin-top: 50px;
  font-size: 55px;
}

.subheading{
  text-align: center;
  color: red;
}

.image{
  height:400px;
  margin-left: 1130px;
  position: sticky;
  
}

.choice{
  margin-left: 900px;
  font-size: 40px;
  color: green;
}

.view{
margin-left: 200px;
font-size: 20px;
margin-top: 50px;
}

.create{
margin-left: 1200px;
font-size: 20px;
margin-top: 50px;
}

.edit{
  margin-left: 1330px;
  margin-top: 70px;
  font-size: 20px;
}