
.heading{
  text-align: center;
  color: blue;
  margin-top: 50px;
  font-size: 55px;
}

.subheading{
  text-align: center;
  color: red;
}

.image{
  height:400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

.choice{
  margin-left: 900px;
  font-size: 40px;
  color: green;
}

.view{
margin-left: 200px;
font-size: 20px;
margin-top: 50px;
}

.create{
font-size: 20px;
margin-left: 550px;
margin-top: 25px;
}

