
.heading{
  text-align: center;
  color: blue;
  margin-top: 50px;
  font-size: 55px;
}

.subheading{
  text-align: center;
  color: red;
}

.image{
  height:400px;
  margin-left: 1280px;
  position: sticky;

}

.choice{
  margin-left: 900px;
  font-size: 40px;
  color: green;
}

.view{
margin-left: 200px;
font-size: 20px;
margin-top: 50px;
}

.create{
margin-left: 1500px;
font-size: 25px;
margin-top: 50px;
}

