<body>
  <div>
    <h1 class="title">Let's Create a New Profile!</h1>
    <br>
    <h4 class="subHeading">You can view and update your current profile, or create another one below!</h4>
  </div>
  <br>

  <div>
  <h2>Current profiles</h2>
  <br>

  <div>
    <table>
      <tr>
        <th>#</th>
        <th> First </th>
        <th> Middle </th>
        <th> Last </th>
        <th> Address</th>
        <th> Email </th>
        <th> Location </th>
        <th> Standard</th>

      </tr>
  <br>
  <br>
     <tr *ngFor="let profile of allProfiles; index as i" >
      <td>{{i + 1 }}</td>
      <td>{{profile.fname}}</td>
      <td>{{profile.mname}}</td>
      <td>{{profile.lname}}</td>
      <td>{{profile.tAddress}}</td>
      <td>{{profile.temailAddress}}</td>
      <td>{{profile.tlocation}}</td>
      <td>{{profile.tstandard}}</td>


      <td><button (click)="onEditClicked(profile.Id)">Edit</button></td>
      <td><button (click)="onDeleteProfile(profile.Id)">Delete</button></td>
     </tr>
   </table>
  </div>
  <br>
  <br>
  <h2>Create New Profile Below</h2>
  </div>

  <div class="container">
    <div class="form">
     <!--you have to create a local reference variable for ngForm, then it's used as an object in the method-->
     <!--added '[ngModelOptions]="{standalone: true}"' to get rid of ngModel Error in console-->
      <form #cForm="ngForm"   (ngSubmit)="onProfileCreate(cForm.value)" name="cForm">
       
        <label>First Name</label><br>
        <input  type="text"  name="fname" #name="ngModel"  ngModel  >
          <br>
          <br>
          <label>Middle Name</label><br>
        <input   type="text" name="mname" #name="ngModel" ngModel  >
          <br>
          <br>
          <label>Last Name</label><br>
          <input  type="text" name="lname" #name="ngModel" ngModel   >
            <br>
            <br>
          <label>Street Address</label><br>
          <input   name="tAddress" type="text"  #name="ngModel" ngModel >
          <br>
          <br>
          <label>Email Address</label><br>
          <input  type="text" name="temailAddress"   #name="ngModel" ngModel  >
          <br>
          <br>
          <label>Work Location</label><br>
          <input   type="text" name="tlocation" #name="ngModel" placeholder="virtual or in-person" ngModel >
          <br>
          <br>
          <label>Standard</label><br>
          <input type="text"  name="tstandard" #name="ngModel" ngModel  >
          <br>
          <br>
          <input type="submit" value="Add Profile"  >

        </form>
        <br>
        <br>
    </div>
  </div>
</body>



<!--method from form at top(click)="verificationAlert(cForm.value)"  this method is from button at bottom   "{{ editmode ? 'Update Profile' : 'Create Profile'}}"-->