<!-- <script>
function toggleIdInput(){
 if(document.getElementsByName('id').createProfileNoId == true) {
    document.getElementsByName('id').style.display='none';
 } else{
  document.getElementsByName('id').style.display='block';

 }
}

</script> -->

<body>
  <div>
    <h1 class="title">Let's Create a New Profile!</h1>
    <br>
    <h4 class="subHeading">You can view and update your current profile, or create another one below!</h4>
  </div>
  <br>

  <div>
  <h2>Current profiles</h2>
  <br>

  <div>
    <table>
      <tr>
        <th>#</th>
        <th> First </th>
        <th> Middle </th>
        <th> Last </th>
        <th> Address</th>
        <th> Email </th>
        <th> Location </th>
        <th> Standard</th>

      </tr>
  <br>
  <br>
     <tr *ngFor="let profile of allProfiles; index as i" >
      <td>{{i + 1 }}</td>
      <td>{{profile.fname}}</td>
      <td>{{profile.mname}}</td>
      <td>{{profile.lname}}</td>
      <td>{{profile.taddress}}</td>
      <td>{{profile.temailAddress}}</td>
      <td>{{profile.tlocation}}</td>
      <td>{{profile.tstandard}}</td>


      <td><button (click)="onEditClicked(profile.id)">Edit</button></td>
      <td><button (click)="onDeleteProfile(profile.id)">Delete</button></td>
     </tr>
   </table>
  </div>
  <br>
  <br>
  <h2>Create New Profile Below</h2>
  </div>

  <div class="container">
    <div class="form">
     <!--you have to create a local reference variable for ngForm, then it's used as an object in the method-->
     <!--added '[ngModelOptions]="{standalone: true}"' to get rid of ngModel Error in console-->
      <form #cForm="ngForm"   (ngSubmit)="onProfileCreate(cForm.value)" name="cForm">
       
        <label>First Name</label><br>
        <input  type="text"  name="fname" #name="ngModel"  ngModel  >
          <br>
          <br>
          <label>Middle Name</label><br>
        <input   type="text" name="mname" #name="ngModel" ngModel  >
          <br>
          <br>
          <label>Last Name</label><br>
          <input  type="text" name="lname" #name="ngModel" ngModel   >
            <br>
            <br>
          <label>Street Address</label><br>
          <input   name="taddress" type="text"  #name="ngModel" ngModel >
          <br>
          <br>
          <label>Email Address</label><br>
          <input  type="text" name="temailAddress"   #name="ngModel" ngModel  >
          <br>
          <br>
          <label>Work Location</label><br>
          <input   type="text" name="tlocation" #name="ngModel" placeholder="virtual or in-person" ngModel >
          <br>
          <br>
          <label>Standard</label><br>
          <input type="text"  name="tstandard"  #name="ngModel" ngModel >
          <br>
          <br>

          <div id="noBox" > <!--set to true for create profile-->
            <input  disabled="true" name="id" #name="ngModel" ngModel>
          </div><br> 

        
         <input type="submit"  id="submitValue" value="{{ editmode ?  'Update Profile'  : 'Create Profile'}}">
         <!--when I'm updating data, I need the disabled set to false-->
        </form>
       
    </div>
  </div>
</body>


<!--(click)="verificationAlert(cForm.value)"-->
<!-- <div id="yesBox" *ngIf="!noIdBox">  shows the id field-->
          <!-- <input disabled="false" name="id" #name="ngModel" ngModel>  <br><br>
        </div> --> 